:host {
  font-family: inherit;
  font-size: 0.8rem;
}

.loading-overlay {
  position: fixed;   
  inset: 0;          
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); 
  backdrop-filter: blur(2px);          
  z-index: 9999;
}