<div class="login-background">
  <div class="overlay"></div>
</div>

<div class="login-container">
  <div class="spinner-container">
    <div class="spinner"></div>
    <div class="glow"></div>
  </div>
  <img src="assets/images/login/logo-login.png"/>
  <div class="login-form">
    <form [formGroup]="formUsuario" *ngIf="windowForm == 0" style="align-items: center; margin-bottom: 15%;">
      <div class="input-container">
        <i class="fas fa-user"></i>
        <input type="text" formControlName="usuario" placeholder="Usuario" name="username" required class="form-control input-all"/>
      </div>
      <div class="form-group">
        <div class="input-container">
          <i class="fas fa-lock"></i>
          <input [type]="showPassword ? 'text' : 'password'" class="form-control input-all" name="password" id="password" formControlName="password"
            placeholder="Contraseña" required>
            <button type="button" class="password-toggle" (click)="togglePasswordVisibility()" title="showPassword">
            <div class="icono">
              <i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
            </div>
          </button>
        </div>
      </div>


      <div class="btn-casa-container">
        <button type="button" class="btn btn-primary btn-sm boton-inicio" (click)="login()">
          <i class="fas fa-sign-in"></i>  Iniciar Sesión</button>
        <!-- <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status"> Enviando...</span> -->
      </div>
    </form>

    <form [formGroup]="formEmpresa" *ngIf="windowForm == 1" style="align-items: center; margin-bottom: 10%;">
      <div class="form-group">
        <select class="general-select" style="width: 67.6%; margin: 4px 0 0 0; height: 40px !important;" id="inputGroupSelect01"
          title="Empresa" (change)="actualizarSede()" formControlName="empresa" [attr.disabled]="!isValid ? '' : null">
          <option value="" disabled>Seleccione una empresa</option>
          <option *ngFor="let empresa of empresas" [value]="empresa.id">
            {{empresa.razonsocial}}
          </option>
        </select>

        <select class="general-select" style="width: 67.6%; margin: 5px 0 4px 0; height: 40px !important;" id="inputGroupSelect02" 
          title="Sede" (change)="onSedeSeleccionada()" formControlName="sede" [attr.disabled]="!isValid ? '' : null">
          <option value="" disabled>Seleccione una empresa</option>
          <option *ngFor="let sede of sedes" [value]="sede.codsede">
            {{sede.descripcion}}</option>
        </select>
      </div>

      <div class="btn-casa-container">
        <button type="button" class="btn btn-primary btn-sm boton-inicio" (click)="login2()">
          <i class="fas fa-sign-in"></i>  Iniciar Sesión</button>
        <!-- <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status"> Enviando...</span> -->
      </div>
    </form>
  </div>
</div>
<div class="marquee-header">
  <h6>Nuestros Productos...</h6>
  <hr />
</div>
<div class="video-marquee">
  <!-- CABECERA -->
  <!-- VIDEO -->
  <div class="video-wrapper">
    <video #videoPlayer autoplay muted playsinline></video>
  </div>
</div>