<div class="login-background">
  <div class="overlay"></div>
</div>

<div class="login-container">
  <div class="spinner-container">
    <div class="spinner"></div>
    <div class="glow"></div>
  </div>
  <div class="login-form">
    <img src="assets/images/brand/logo-regina-billing-small.png" />
    <form *ngIf="windowForm == 0">
      <div class="input-container" style="padding-top: 20px !important;">
        <i class="fas fa-user" style="padding-top: 20px !important"></i>
        <input type="text" placeholder="Usuario" [(ngModel)]="dtoUser.userUsername" name="username" required
          #usernameInput="ngModel" class="form-control input-all"/>
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-container">
          <i class="fas fa-lock"></i>
          <input [type]="showPassword ? 'text' : 'password'" name="password" id="password" [(ngModel)]="dtoUser.userPassword"
            class="form-control input-all" placeholder="Contraseña" required #passwordInput="ngModel">
          
            <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
            <div class="icono">
              <i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
            </div>
          </button>
        </div>
      </div>


      <div class="btn-casa-container">
        <button *ngIf="!pendingOk" type="button" class="btn btn-primary btn-sm boton-inicio" [disabled]="pendingOk" (click)="onLogin()">
          <i class="fas fa-sign-in"></i>  Iniciar Sesión</button>
        <span *ngIf="pendingOk" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span *ngIf="pendingOk" role="status"> Enviando...</span>
      </div>
    </form>

    <form *ngIf="windowForm == 1">
      <p style="margin-top: 30px;">Ingrese el código de 4 dígitos enviado<br />
        a su correo</p>
      <div class="row">
        <div class="col-12 text-center">
          <div class="otp-inputs text-center">
            <input type="text" name="valor1" maxlength="1" [(ngModel)]="valor1" (input)="moveToNext($event, 1)" />
            <input type="text" name="valor2" maxlength="1" [(ngModel)]="valor2" (input)="moveToNext($event, 2)" />
            <input type="text" name="valor3" maxlength="1" [(ngModel)]="valor3" (input)="moveToNext($event, 3)" />
            <input type="text" name="valor4" maxlength="1" [(ngModel)]="valor4" (input)="moveToNext($event, 4)" />
          </div>
          <button class="btn-casa" type="button" *ngIf="showButtonOTP" (click)="onOtp()"><i
              class="fas fa-passport"></i>&nbsp;&nbsp;Validar Código</button>
        </div>
      </div>
    </form>
  </div>
</div>