<div class="container mt-2">
    <div class="bar-buttons-top">
        <div class="title-f6">Configuración</div>
    </div>
    <div class="bar-buttons-top d-flex justify-content-end w-100">
        <button class="general-button btn-secondary">
            <i class="fas fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>
<div class="card theme-card">

  <div class="card-header py-2 px-3">
    <h5 class="mb-0">Tema de Color</h5>
  </div>

  <div class="card-body py-2 px-3">

    <div class="radio-group">

      <label class="donut-radio">
        <input type="radio" name="theme" (change)="changeTheme('AZUL')" />
        <span class="control"></span>
        <span class="text">Azul</span>
      </label>

      <label class="donut-radio">
        <input type="radio" name="theme" (change)="changeTheme('VERDE')" />
        <span class="control"></span>
        <span class="text">Verde</span>
      </label>

      <label class="donut-radio">
        <input type="radio" name="theme" (change)="changeTheme('ROJO')" />
        <span class="control"></span>
        <span class="text">Rojo</span>
      </label>

      <label class="donut-radio">
        <input type="radio" name="theme" (change)="changeTheme('NARANJA')" />
        <span class="control"></span>
        <span class="text">Naranja</span>
      </label>

      <label class="donut-radio">
        <input type="radio" name="theme" (change)="changeTheme('VIOLETA')" />
        <span class="control"></span>
        <span class="text">Violeta</span>
      </label>

      <label class="donut-radio">
        <input type="radio" name="theme" (change)="changeTheme('GRIS')" />
        <span class="control"></span>
        <span class="text">Gris</span>
      </label>

    </div>
  </div>
</div>