<div class="loading-overlay" *ngIf="isLoading$ | async">
  <app-loading-dancing-squares [size]="22" [gap]="8"></app-loading-dancing-squares>
</div>
<div class="container mt-2">
  <div class="bar-buttons-top">
    <div class="title-f6">Detalle de Rendición - Orden de Pago: {{orden.numOrden}} del {{orden.fecOrden | date: 'dd/MM/yyyy'}}</div>
  </div>
  <div class="bar-buttons-top d-flex w-100">
    <div class="input-group justify-content-start w-50">
      <span class="input-group-text"><i class="fa fa-search me-2"></i></span>
      <input (input)="filtrar()" type="text" class="form-control" placeholder="Filtrar..."
        [(ngModel)]="filtrarDetalle" />
    </div>
    <button (click)="onBack()" class="general-button btn-secondary">
      <i class="fas fa-arrow-left"></i>
      Regresar
    </button>
  </div>
    <div class="table-container table-responsive">
    <table class="table global-table table-striped table-hover">
      <thead>
        <th class="text-center">Nro de Orden</th>
        <th class="text-center">Item</th>
        <th class="text-center">Fecha</th>
      </thead>
      <tbody>
        <tr *ngFor="let reg of pagedDetalles">
          <td class="text-center">{{reg.numOrden}}</td>
          <td class="text-start">{{reg.numItemOp}}</td>
          <td class="text-center">{{reg.fecDet | date: 'yyyy-MM-dd'}}</td>
        </tr>
      </tbody>
    </table>

    <div class="card-footer bg-white border-0 py-3 d-flex justify-content-between align-items-center">
      <span class="text-muted small" style="font-family: var(--app-font-family) !important;">
        Mostrando Página <strong>{{ currentPage + 1 }}</strong> de
        <strong>{{ totalPages }}</strong> (Total: {{ totalItems }})
      </span>

      <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm mb-0">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <button class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo; Anterior</span>
            </button>
          </li>

          <li class="page-item disabled">
            <span class="page-link border-0 text-dark fw-bold">{{
              currentPage + 1
              }}</span>
          </li>

          <li class="page-item" [class.disabled]="currentPage >= totalPages - 1">
            <button class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">Siguente &raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>