<div class="loading-overlay" *ngIf="isLoading$ | async">
    <app-loading-dancing-squares [size]="22" [gap]="8"></app-loading-dancing-squares>
</div>
<div class="form-container">
    <div class="row">
        <div class="col-md-6">
            <h6 class="h6-header">Rendir Cuenta Orden - {{orden.numOrden}}</h6>
        </div>
    </div>
    <div class="bar-buttons-top d-flex w-100">
        <label class="form-label fw-semibold mb-2 d-block">Saldo Soles</label>
        <input style="width: 200px !important;" type="text" name="saldoSoles" id="saldoSoles"
            class="form-control text-end" [(ngModel)]="saldoSoles" currencyMask
            [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2, nullable: true }" />
        <label class="form-label fw-semibold mb-2 d-block">Saldo Dólares</label>
        <input style="width: 200px !important;" readonly type="text" name="saldoDolares" id="saldoDolares"
            class="form-control text-end" [(ngModel)]="saldoDolares" currencyMask
            [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2, nullable: true }" />
        <!-- Captura de imagen -->
        <label class="general-button btn-primary btn-capture-image">
            <i class="fa fa-camera me-2"></i>
            Capturar/Subir
            <input type="file" accept="image/*" capture="environment" (change)="onSelectImage($event)" hidden>
        </label>
        <div *ngIf="imageChangedEvent">
            <button *ngIf='showImageCropper' type="button" class="general-button btn-primary btn-sm me-1"
                (click)="toggleImageCropper()">
                <i class="fa-solid fa-eye-slash"></i> Ocultar
            </button>
            <button *ngIf='!showImageCropper' type="button" class="general-button btn-primary btn-sm me-1"
                (click)="toggleImageCropper()">
                <i class="fa-solid fa-image"></i> Mostrar
            </button>
            <button type="button" class="general-button btn-success btn-sm me-1" (click)="runOcr()">
                <i class="fas fa-book-open-reader"></i> Copiar
            </button>
            <button [disabled]="!validate" type="button" class="general-button btn-primary btn-sm me-1">
                <i class="fas fa-save"></i> Guardar
            </button>
        </div>
        <button (click)="onBack()" class="general-button btn-secondary">
            <i class="fas fa-arrow-left"></i>
            Regresar
        </button>
    </div>

    <!-- Imagen capturada / cropper -->
    <div class="mb-1" *ngIf="imageChangedEvent && showImageCropper">
        <div class="card">
            <div class="card-body p-1">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" format="png"
                    (imageCropped)="onImageCropped($event)">
                </image-cropper>
            </div>
        </div>
    </div>

    <!-- Datos -->
    <div class="row mt-1">
        <h6 class="h6-header">DATOS REALES DEL PROVEEDOR</h6>
        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">R.U.C</label>
            <input maxlength="11" (input)="ruccompleto()" class="form-control" name="ruc" id="ruc" [(ngModel)]="ruc" />
        </div>
        <div class="col-md-6">
            <label class="form-label fw-semibold mb-2 d-block">Proveedor</label>
            <input readonly class="form-control" name="proveedor" id="proveedor" [(ngModel)]="padronRuc.razonSocial" />
        </div>
        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">Estado</label>
            <input readonly class="form-control" name="estado" id="estado" [(ngModel)]="padronRuc.estado" />
        </div>
        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">Condición</label>
            <input readonly class="form-control" name="condicion" id="condicion" [(ngModel)]="padronRuc.condicion" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <label class="form-label fw-semibold mb-2 d-block">Dirección</label>
            <input class="form-control" name="direccion" id="direccion" [(ngModel)]="dataImagen.issuerAddress" />
        </div>
    </div>
    <div class="row">
        <div *ngIf="mensaje" class="col-md-12">
            <span class="mensaje-alerta">{{mensaje}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label fw-semibold mb-2 d-block">Rubro</label>
            <select (change)="changeRubro()" name="rubro" id="rubro" class="form-select"
                [(ngModel)]="ordenPagoDet.codRubro">
                <option *ngFor="let rubro of rubros" [value]="rubro.codRubro">{{rubro.desRubro}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-semibold mb-2 d-block">Concepto</label>
            <select name="concepto" id="concepto" class="form-select" [(ngModel)]="ordenPagoDet.codTipoGasto">
                <option *ngFor="let tipoGasto of tiposGasto" [value]="tipoGasto.codTipoGasto">{{tipoGasto.desTipoGasto}}
                </option>
            </select>
        </div>
    </div>

    <h6 class="h6-header">DATOS DEL DOCUMENTO</h6>

    <div class="row mt-2">
        <div class="row">
            <div class="col-md-2">
                <label class="form-label fw-semibold mb-2 d-block">Fecha de Documento</label>
                <input class="form-control" name="fechadoc" id="fechadoc" [(ngModel)]="dataImagen.documentDate" />
            </div>

            <div class="col-md-3">
                <label class="form-label fw-semibold mb-2 d-block">Tipo de Documento</label>
                <select name="documento" id="documento" class="form-select" [(ngModel)]="ordenPagoDet.codDocumento"
                    (change)="changeDocumento()">
                    <option *ngFor="let doc of documentos" [value]="doc.desCorta">
                        {{ doc.desDocumento }}
                    </option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="form-label fw-semibold mb-2 d-block">Nro. Documento</label>
                <input class="form-control" name="nrodoc" id="nrodoc" [(ngModel)]="dataImagen.documentNumber" />
            </div>

            <div class="col-md-2">
                <label class="form-label fw-semibold mb-2 d-block">Moneda</label>
                <select (change)="onMonedaChange()" name="moneda" id="moneda" class="form-select"
                    [(ngModel)]="ordenPagoDet.codMoneda">
                    <option *ngFor="let moneda of monedas" [value]="moneda.codMoneda">
                        {{ moneda.desMoneda }}
                    </option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label fw-semibold mb-2 d-block">Importe {{dataImagen.currency}}</label>
                <input readonly type="text" name="importe" id="importe" class="form-control text-end"
                    [(ngModel)]="dataImagen.amount" currencyMask
                    [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2, nullable: true }" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label fw-semibold mb-2 d-block">Detalle</label>
                <textarea class="form-control" rows="2" [(ngModel)]="detalle"
                    (ngModelChange)="onDetalleChange($event)"></textarea>
            </div>
        </div>
        <div class="row">
            <div *ngIf="mensajeDetalle" class="col-md-12">
                <span class="mensaje-alerta">{{mensajeDetalle}}</span>
            </div>
        </div>
    </div>
</div>