<footer class="app-default-footer-mobile navbar-footer">
    <div class="navbar-buttons">
        <button class="nav-item" (click)="handleClick('/home', $event)">
            <i class="fas fa-home"></i>
            <!-- <span>{{ item.label }}</span> -->
        </button>
        <div class="nav-item-wrapper" *ngFor="let item of items; let index = index">
            <button class="nav-item" (click)="item.route ? handleClick(item.route, $event) : toggleDropdown(index)">
                <i *ngIf="item.icon" [class]="item.icon"></i>
                <!-- <span>{{ item.label }}</span> -->
            </button>
            <div *ngIf="item.subitems" class="subitems-container" [ngClass]="{ open: openIndex === index }">
                <button class="subitem" *ngFor="let sub of item.subitems" (click)="navigate(sub, $event)">
                    <i *ngIf="sub.icon" [class]="sub.icon"></i>
                    <span>{{ sub.label }}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="footer-text">
        MOBILE WEB - Powered by Aquarius Consulting S.A.<br />
        Todos los Derechos Reservados ® 2026
    </div>
</footer>